html .wy-side-nav-search {
    background-color:#407dc0ff;
}

html .rst-content .admonition-title,
html .rst-content .note .admonition-title {
    background-color:#407dc0ff;
}

html .rst-content .note {
    background-color: #d2e0f0ff;
}

@media screen and (max-width: 768px) {
    html img {
        width: auto
    }
}

.wy-side-nav-search>a.logo {
    display:block;
}
.wy-side-nav-search>a.logo img {
    width:100%;
    height:auto;
    border-radius: 0;
    margin:0;
    background:transparent;
}
